# Introduction to Pandas

In [1]:
import pandas as pd
pd

## _Two different datatypes._
1. Series: 
    One Dimensional.
2. Dataframs: Two Dimensional

In [8]:
phone_brands = pd.Series(["motorola", "coolpad", "oneplus", "nokia"])
os_details = pd.Series(["Oreo", "Nougat", "Pie", "Java"])

phone_brands, os_details

(0    motorola
 1     coolpad
 2     oneplus
 3       nokia
 dtype: object,
 0      Oreo
 1    Nougat
 2       Pie
 3      Java
 dtype: object)

In [11]:
array_series = pd.Series([[1,2,3],[4,5,6]])
array_series

0    [1, 2, 3]
1    [4, 5, 6]
dtype: object

Dataframes are created using Python Dictionaries. Other series can be used to create Dataframes.

In [10]:
phone_deetz = pd.DataFrame({"Brand": phone_brands, "Software": os_details })
phone_deetz

      Brand Software
0  motorola     Oreo
1   coolpad   Nougat
2   oneplus      Pie
3     nokia     Java

In [12]:
car_sales = pd.read_csv("../resources/data/car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00